
{% extends "inderr/base.html" %}
{% load static %}

{% block content %}

<style>
    .highlight { 
        background-color: #e6e6fa; 
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row" style="background-color: white;">
        <div class="col-lg-4 my-3">
            <select name="location" id="" class="form-select" aria-label="Locations" onchange="locationChange(event)">
                <option value="">Select Location</option>
                {% for place in places %}
                    <option value="{{ place.name }}">{{ place.name }}</td></option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-8 my-3">
            <button class="btn btn-outline-primary btn-small mx-2" id="up">Up</button>
            <!-- <button class="btn btn-outline-primary btn-small mx-2" id="down">Down</button> -->
        </div>
        <div class="col-lg-8 my-3 text-primary" id="next-station">
        </div>
        <div class="col-lg-12 mb-4 running-status-cntr">

            <!-- <table class="table table-bordered table-hover table-striped status-list-cntr">
                <thead class="header-cntr">
                    <tr>
                        <th scope="col">SN</th>
                        <th scope="col">Name</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Distance</th>
                    </tr>
                </thead>
                <tbody class="running-status-rows">
                    {% for place in places %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ place.name }}</td>
                            <td>{{ place.lat }}</td>
                            <td>{{ place.lon }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> -->
        </div>
        
    </div>
</div>

{% endblock %}


{% block script %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

let sorted_places = [];

function locationChange(e){
    console.log(e);
    let place_name = e.target.value;
    let URL = "{% url 'get_lat_lon' %}";
    fetch(URL, {
        method: 'POST',
        credentials: 'same-origin',
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({'place_name':place_name}) //JavaScript object of data to POST
    })
    .then(response => {
            return response.json() //Convert response to JSON
    })
    .then(data => {
        //Perform actions with the response data from the view

        // Other Places With Difference
        sorted_places = data.other_places.map((pla) =>{
            d1 = Math.pow((pla.lat - data.place.lat),2);
            d2 = Math.pow((pla.lon - data.place.lon),2);
            dis = Math.sqrt(d1+d2);
            return {...pla, 'distance':dis}
        })
        
        console.log(sorted_places);
        sorted_places.sort((a, b) => a.distance - b.distance);
        console.log(sorted_places[0])
        announcement(sorted_places[0])
    })

}

function announcement(place){
    var msg = new SpeechSynthesisUtterance();
    msg.text = "Next station is "+place.name;
    window.speechSynthesis.speak(msg);
    // $('#parent').append('<div>hello</div>'); 
    $('#next-station').text(msg.text);
}

$(document).ready(function(){

    $('#up').click(function() {
        announcement(sorted_places[0])
    });
    $('#down').click(function() {
        announcement(sorted_places[sorted_places.length - 1])
    });

});

// distance between two geolocation points (latitude and longitude) using the Haversine formula

function haversineDistance(lat1, lon1, lat2, lon2) {
  const R = 6371; // Radius of the Earth in kilometers
  const dLat = (lat2 - lat1) * (Math.PI / 180);
  const dLon = (lon2 - lon1) * (Math.PI / 180);
  const a =
    Math.sin(dLat / 2) * Math.sin(dLat / 2) +
    Math.cos(lat1 * (Math.PI / 180)) * Math.cos(lat2 * (Math.PI / 180)) *
    Math.sin(dLon / 2) * Math.sin(dLon / 2);
  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
  const distance = R * c;
  return distance;
}

// Example usage:
const lat1 = 23.260461; // Latitude of the first point
const lon1 = 77.409404; // Longitude of the first point
const lat2 = 23.415132; // Latitude of the second point
const lon2 = 77.590870; // Longitude of the second point

// const result = haversineDistance(lat1, lon1, lat2, lon2);
// console.log(`Distance between the two points is ${result} km`);


</script>

{% endblock %}